/* SilverWare Contact Admin Styles
===================================================================================================================== */

// Edit Form Styles:

.cms-edit-form {
  
  .formatted-message {
    border: 1px solid $gray-200;
    padding: $panel-padding-y $panel-padding-x;
    background: $white none;
    border-radius: $border-radius;
  }
  
}

// Grid Field Styles:

.ss-gridfield {
  
  .ss-gridfield-item {
    
    span.unread {
      font-weight: bold;
    }
    
  }
  
}
